shopid
{{this.api.status}}
<hr>
<a routerLink="/" >{{ 'home' | translate }}</a> 
<a routerLink="/product" *ngIf="this.api.isAuthed == true && this.api.role == '0'">{{ 'product' | translate }}</a> 

<a routerLink="/category" *ngIf="this.api.isAuthed == true && this.api.role == '0'">{{ 'category' | translate }}</a> 



<a *ngIf="this.api.isAuthed == false" routerLink="/signup">{{ 'signup' | translate }}</a> 
<a *ngIf="this.api.isAuthed == false" routerLink="/login">{{ 'login' | translate }}</a>
<a *ngIf="this.api.isAuthed == true" routerLink="/logout">{{ 'logout' | translate }}</a>

<br>





<router-outlet></router-outlet>
