
<!--><div *ngFor="let item of items">sort : {{ item.id }} {{ item.title }}</div><-->


<mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)">
  <mat-grid-tile *ngFor="let item of items"><a routerLink="/product/{{item.id}}" >{{item.caption}}</a></mat-grid-tile>

</mat-grid-list>


<!-->
<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);"><a routerLink="/product/{{item.id}}">{{item.title}}</a></div>
  </div>
</div> 
<-->
