
<div *ngFor="let item of items">sort : {{ item.id }}</div>

<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)"></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="dropListEnterPredicate" (cdkDropListDropped)="dropListDropped($event)">
    <div cdkDrag class="example-box" (cdkDragMoved)="dragMoved($event);"><a routerLink="/product/{{item.id}}">{{item.title}}</a></div>
  </div>
</div> 